<div id="<%= dom_id character %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= character.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= character.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Class:</strong>
    <%= character.class %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Heritage:</strong>
    <%= character.heritage %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this character", character, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this character', edit_character_path(character), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
