<div class="card lg:card-side bg-zinc-200 shadow-xl ml-6">
  <figure class="h-80"><img
    src='/img/tramp_minotaur.jpg'
    alt='Mighty minotaur'
    class='h-80'
  /></figure>
  <div class="card-body h-80">
    <%= turbo_frame_tag "login" do %>
      <%= form_with do |form| %>
        <div>
          <%= form.text_field :username, placeholder: "username", class: "w-full max-w-xs" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password, placeholder: "password",class: "w-full max-w-xs" %>
        </div>
        <div class="mt-2">
          <div class="block">
            <%= form.submit "LOGIN", class: "btn" %>
          </div>
          <div class="block mt-2">
            <%= link_to "Create Account", login_signup_url, class: "btn" %>
          </div>
          <div class="block mt-2">
            <%= link_to "Recover password", login_forgotpassword_url, class: "btn btn-sm" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>