<div class="card lg:card-side bg-zinc-200 shadow-xl ml-6">
  <figure><img
    src='/img/tramp_minotaur.jpg'
    alt='Mighty minotaur'
    class='h-80'
  /></figure>
  <div class="card-body w-fit">
    <%= turbo_frame_tag "login" do %>
      <%= form_with do |form| %>
        <div>
          <%= form.label :username, "Username" %>
          <%= form.text_field :username, class: "w-full max-w-xs" %>
        </div>
        <div class="mt-2">
          <%= form.label :password, "Password" %>
          <%= form.password_field :password, class: "w-full max-w-xs" %>
        </div>
        <div class="mt-2">
          <div class="block">
            <button class="btn">
              <%= form.submit "SUBMIT" %>
            </button>
          </div>
          <div class="block">
            <button class="btn btn-sm mt-2">
              <%= link_to "Create Account", login_signup_url %>
            </button>
            <button class="btn btn-sm">
              <%= link_to "Recover password", login_forgotpassword_url %>
            </button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>