<div class="card lg:card-side bg-zinc-200 shadow-xl ml-6">
  <figure><img
    src='/img/tramp_minotaur.jpg'
    alt='Mighty minotaur'
    class='h-80'
  /></figure>
  <div class="card-body w-fit">
    <%= turbo_frame_tag "login" do %>
      <%= form_with do |form| %>
        <div>
          <%= form.label :username, "Username" %>
          <%= form.text_field :username %>
        </div>
        <div class="mt-3">
          <%= form.label :password, "Password" %>
          <%= form.password_field :password %>
        </div>
        <button class="btn">
          <%= form.submit "SUBMIT" %>
        </button>
        <button class="btn btn-sm">
          <%= link_to "Create Account", login_signup_url %>
        </button>
        <button class="btn btn-sm">
          <%= link_to "Recover password", login_forgotpassword_url %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>