<%= turbo_frame_tag "login" do %>
  <%= form_with do |form| %>
    <div>
      <%= form.text_field :email, placeholder: "account email", class: "w-full max-w-xs" %>
    </div>
    <%= form.submit "Send recovery email", class: "btn mt-2" %>
  <% end %>
  <div class="mt-2">
    <%= link_to "Back to Login", login_url %>
  </div>
<% end %>