<%= turbo_frame_tag "login" do %>
  <%= form_with do |form| %>
    <div>
      <%= form.label :username, "Username" %>
      <%= form.text_field :username %>
    </div>
    <div>
      <%= form.label :password, "Password" %>
      <%= form.text_field :password %>
    </div>
    <div>
      <%= form.label :rep_password, "Re-enter Password" %>
      <%= form.text_field :rep_password %>
    </div>
    <div>
      <%= form.label :email, "Email" %>
      <%= form.email_field :email %>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
  <%= link_to "Back to Login", login_url %>
<% end %>