<%= turbo_frame_tag "login" do %>
  <%= form_with do |form| %>
    <div>
      <%= form.label :username, "Username" %>
      <%= form.text_field :username, class: "w-full max-w-xs"  %>
    </div>
    <div>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, class: "w-full max-w-xs"  %>
    </div>
    <div>
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation, class: "w-full max-w-xs"  %>
    </div>
    <div>
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, class: "w-full max-w-xs"  %>
    </div>
    <div class="mt-3">
      <button class="btn">
        <%= form.submit "SUBMIT" %>
      </button>
      <button class="btn">
        <%= link_to "Back to Login", login_url %>
      </button>
    </div>
  <% end %>
<% end %>