<%= turbo_frame_tag "login" do %>
  <%= form_with do |form| %>
    <div>
      <%= form.label :username, "Username" %>
      <%= form.text_field :username %>
    </div>
    <div>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation %>
    </div>
    <div>
      <%= form.label :email, "Email" %>
      <%= form.email_field :email %>
    </div>
    <button class="btn">
      <%= form.submit "Submit" %>
    </button>
  <% end %>
  <button class="btn">
    <%= link_to "Back to Login", login_url %>
  </button>
<% end %>