<%= turbo_frame_tag "login" do %>
  <div class="card lg:card-side bg-base-100 shadow-xl mt-7">
    <figure><img
      src='/img/tramp_minotaur.jpg'
      alt="Might minotaur"
      class="h-80"
    /></figure>
    <div class="card-body">
      <%= form_with do |form| %>
        <div>
          <%= form.label :username, "Username" %>
          <%= form.text_field :username %>
        </div>
        <div>
          <%= form.label :password, "Password" %>
          <%= form.text_field :password %>
        </div>
        <div>
          <%= form.label :rep_password, "Re-enter Password" %>
          <%= form.text_field :rep_password %>
        </div>
        <div>
          <%= form.label :email, "Email" %>
          <%= form.email_field :email %>
        </div>
        <%= form.submit "Submit" %>
      <% end %>
      <%= link_to "Back to Login", welcome_login_url %>
    </div>
  </div>
<% end %>