<%= turbo_frame_tag "login" do %>
  <%= form_with do |form| %>
    <div>
      <%= form.text_field :username, placeholder: "username", class: "w-full max-w-xs"  %>
    </div>
    <div class="mt-2">
      <%= form.password_field :password, placeholder: "password",  class: "w-full max-w-xs"  %>
    </div>
    <div class="mt-2">
      <%= form.password_field :password_confirmation, placeholder: "confirm password",  class: "w-full max-w-xs"  %>
    </div>
    <div class="mt-2">
      <%= form.email_field :email, placeholder: "email",  class: "w-full max-w-xs"  %>
    </div>
    <div class="mt-2">
      <%= form.submit "SUBMIT", class: "btn" %>
    </div>
  <% end %>
  <div class="mt-2">
    <%= link_to "Back to Login", login_url %>
  </div>
<% end %>