<!DOCTYPE html>
<html data-theme="wireframe">
  <head>
    <title>OSE Character Generator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/goblin_face.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-sans font-light" >
    <header class="m-6">
      <img
          src='/img/ose_logo_lg.png'
          alt="OSE Logo"
          class="max-w-sm"
      />
      <h1 class="text-4xl">Character Record</h1>
    </header>
    <main class="flex-col">
      <%= yield %>
    </main>
  </body>
</html>
